services:
  app:
    build:
      context: .
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - FILES_DIR=/files
      - GEMINI_MODEL=gemini-2.5-flash
      - GOOGLE_GENERATIVE_AI_API_KEY=${GOOGLE_GENERATIVE_AI_API_KEY}
    volumes:
      - ./files:/files
